<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.mapper.ClazzMapper">
    <insert id="addClazzs" parameterType="com.xh.entity.Clazz">
        insert into clazz(id, name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (null,#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </insert>
    <update id="updateClazz">
        update clazz
        <set>
            <if test="name !=null and name != ''">name = #{name},</if>
            <if test="room !=null and room != ''">room = #{room},</if>
            <if test="beginDate !=null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null">subject = #{subject},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteClazzs">
        delete from clazz where id = #{id}
    </delete>

    <select id="getClazzs" resultType="com.xh.entity.Clazz" parameterType="com.xh.entity.ClazzQueryParam">
        select clazz.id, clazz.name, room, begin_date, end_date, master_id, subject, clazz.create_time, clazz.update_time,emp.name masterName
        from clazz left join emp on clazz.master_id = emp.id
        <where>
            <if test="name != null and name != ''">
                clazz.name like concat("%", #{name}, "%" )
            </if>
            <if test="begin != null and end != null">
                and end_date between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
        limit #{offset},#{pageSize}
    </select>
    <select id="getClazzById" resultType="com.xh.entity.Clazz">
        select id, name, room, begin_date, end_date, master_id, subject, create_time, update_time from clazz where id = #{id}
    </select>
    <select id="getAllClazzs" resultType="com.xh.entity.Clazz">
        select id,name,room,begin_date,end_date,master_id,subject from clazz
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from clazz left join emp on clazz.master_id = emp.id
        <where>
            <if test="name != null and name != ''"> clazz.name like concat("%", #{name}, "%" ) </if>
            <if test="begin != null and end != null"> and end_date between #{begin} and #{end} </if>
        </where>
    </select>
</mapper>