<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.mapper.EmpMapper">
    <insert id="addEmp" parameterType="com.xh.entity.Emp">
        insert into emp(id, username, password, name, gender, phone, job, salary, image, entry_date, dept_id,
                        create_time, update_time)
        values (#{id}, #{username}, #{password}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image},
                #{entryDate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>

    <select id="getEmps" resultType="com.xh.entity.Emp" parameterType="com.xh.entity.EmpQueryParam">
        SELECT emp.*,dept.name deptName FROM emp
        left join dept on emp.dept_id = dept.id
        <where>
            <if test="name != null and name != ''">
                emp.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and emp.gender = #{gender}
            </if>
            <if test="begin != null ">
                AND emp.entry_date >= #{begin}
            </if>
            <if test="end != null ">
                AND emp.entry_date <![CDATA[ <= ]]> #{end}
            </if>
            <!--            <if test="begin != null and end != null">-->
            <!--                and emp.entry_date between #{begin} and #{end}-->
            <!--            </if>-->
        </where>

        order by entry_date desc
        limit #{offset},#{pageSize}
    </select>
    <select id="getCount" parameterType="com.xh.entity.EmpQueryParam">
        SELECT count(*) FROM emp
        <where>
            <if test="name != null and name != ''">
                emp.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and emp.gender = #{gender}
            </if>
            <if test="begin != null ">
                AND emp.entry_date >= #{begin}
            </if>
            <if test="end != null ">
                AND emp.entry_date <![CDATA[ <= ]]> #{end}
            </if>
        </where>
    </select>
</mapper>